<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.TCMail.dao.GoodsmsgMapper">
  <resultMap id="BaseResultMap" type="com.yc.TCMail.bean.Goodsmsg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="norms" jdbcType="VARCHAR" property="norms" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, color, norms, gid, num, sid, size, tid
  </sql>
  <select id="selectByExample" parameterType="com.yc.TCMail.bean.GoodsmsgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodsmsg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodsmsg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodsmsg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.TCMail.bean.GoodsmsgExample">
    delete from goodsmsg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.TCMail.bean.Goodsmsg">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goodsmsg (color, norms, gid, 
      num, sid, size, tid
      )
    values (#{color,jdbcType=VARCHAR}, #{norms,jdbcType=VARCHAR}, #{gid,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{size,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.TCMail.bean.Goodsmsg">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goodsmsg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="color != null">
        color,
      </if>
      <if test="norms != null">
        norms,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="tid != null">
        tid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="norms != null">
        #{norms,jdbcType=VARCHAR},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.TCMail.bean.GoodsmsgExample" resultType="java.lang.Long">
    select count(*) from goodsmsg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goodsmsg
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.norms != null">
        norms = #{record.norms,jdbcType=VARCHAR},
      </if>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=INTEGER},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.tid != null">
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goodsmsg
    set id = #{record.id,jdbcType=INTEGER},
      color = #{record.color,jdbcType=VARCHAR},
      norms = #{record.norms,jdbcType=VARCHAR},
      gid = #{record.gid,jdbcType=INTEGER},
      num = #{record.num,jdbcType=INTEGER},
      sid = #{record.sid,jdbcType=INTEGER},
      size = #{record.size,jdbcType=VARCHAR},
      tid = #{record.tid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.TCMail.bean.Goodsmsg">
    update goodsmsg
    <set>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="norms != null">
        norms = #{norms,jdbcType=VARCHAR},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.TCMail.bean.Goodsmsg">
    update goodsmsg
    set color = #{color,jdbcType=VARCHAR},
      norms = #{norms,jdbcType=VARCHAR},
      gid = #{gid,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      size = #{size,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>