<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.TCMail.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.yc.TCMail.bean.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commnum" jdbcType="INTEGER" property="commnum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="regtime" jdbcType="DATE" property="regtime" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="salenum" jdbcType="INTEGER" property="salenum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, commnum, name, sid, regtime, tid, brand, discount, salenum
  </sql>
  <select id="selectByExample" parameterType="com.yc.TCMail.bean.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.TCMail.bean.GoodsExample">
    delete from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.TCMail.bean.Goods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods (commnum, name, sid, 
      regtime, tid, brand, discount, 
      salenum)
    values (#{commnum,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sid,jdbcType=INTEGER}, 
      #{regtime,jdbcType=DATE}, #{tid,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{discount,jdbcType=DOUBLE}, 
      #{salenum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.TCMail.bean.Goods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commnum != null">
        commnum,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="regtime != null">
        regtime,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="salenum != null">
        salenum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commnum != null">
        #{commnum,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="regtime != null">
        #{regtime,jdbcType=DATE},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="salenum != null">
        #{salenum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.TCMail.bean.GoodsExample" resultType="java.lang.Long">
    select count(*) from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.commnum != null">
        commnum = #{record.commnum,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.regtime != null">
        regtime = #{record.regtime,jdbcType=DATE},
      </if>
      <if test="record.tid != null">
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.brand != null">
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DOUBLE},
      </if>
      <if test="record.salenum != null">
        salenum = #{record.salenum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      commnum = #{record.commnum,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      sid = #{record.sid,jdbcType=INTEGER},
      regtime = #{record.regtime,jdbcType=DATE},
      tid = #{record.tid,jdbcType=INTEGER},
      brand = #{record.brand,jdbcType=VARCHAR},
      discount = #{record.discount,jdbcType=DOUBLE},
      salenum = #{record.salenum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.TCMail.bean.Goods">
    update goods
    <set>
      <if test="commnum != null">
        commnum = #{commnum,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="regtime != null">
        regtime = #{regtime,jdbcType=DATE},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="salenum != null">
        salenum = #{salenum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.TCMail.bean.Goods">
    update goods
    set commnum = #{commnum,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=INTEGER},
      regtime = #{regtime,jdbcType=DATE},
      tid = #{tid,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=DOUBLE},
      salenum = #{salenum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>